@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Contato:</strong> <a href="mailto:atiliosud@gmail.com">atiliosud@gmail.com</a><br />
</address>
